<span>
<!--  ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <li ng-show="isAuthenticated()">
      <a href="#">{{currentUser.firstName}} {{currentUser.lastName}}</a>
  </li>
  <li ng-show="isAuthenticated()" class="logout">
      <form class="navbar-form">
          <button class="btn logout" ng-click="logout()">Log out</button>
      </form>
  </li>
  <li ng-hide="isAuthenticated()" class="login">
      <form class="navbar-form">
          <button class="btn login" ng-click="login()">Log in</button>
      </form>
  </li>
</ul -->

                
                <a  ng-show="isAuthenticated()" href="/users/{{currentUser.id}}" 
                    class="dropdown-toggle" 
                    data-toggle="dropdown">
                      <i class="icon-user"></i> 
                          {{currentUser.firstName}} {{currentUser.lastName}}
                      <b class="caret"></b>
                </a>

                <span ng-hide="isAuthenticated()" class="login">
                  <form class="navbar-form">
                      <button class="btn login" ng-click="login()">Log in</button>
                  </form>
                </span>
            
                <ul ng-show="isAuthenticated()" class="dropdown-menu">
                  <li  ng-show="isAuthenticated()" ><a href="javascript:;">My Profile</a></li>
                  <li ng-show="isAuthenticated()" ><a href="javascript:;">My Groups</a></li>
                  <li ng-show="isAuthenticated()" class="divider"></li>
                  <li ng-show="isAuthenticated()"><a href="#" ng-click="logout()">Logout</a></li>
                </ul>   
</span>

