<html>
  <head>
    <title>Admin</title>
    <link href="/admin/style.css" rel="stylesheet"/>
    <style>
     table { table-layout: fixed; }
     table th, table td { overflow: hidden; }
    </style>
  </head>
  <body>
    <section id="navbar">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <div class="container" style="width: auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span> 
            </a>             
            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="/admin/resources">Resources</a></li>
              </ul>
              
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div><!-- /navbar -->
    </section>
    <div id="main">
    </div>
  </body>
</html>